<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Dad Jokes!</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/all">All Jokes</a>
        <a href="/new">Create A New Joke</a>
    </nav>

    {% block main %}
    {% endblock %}

    {% include "footer.html"  %}

</body>
</html>