{% extends "nav.html" %}

{% block feed %}
<div class="feed-container">
  <h2>Create a New Post</h2>
{% if type == "update" %}
  <form action="/posts/update/{{ id }}" method="post">
{% else %}
  <form action="/posts/new" method="post" enctype="multipart/form-data">
{% endif %}
{% if errors %}
  {% for error in errors.values() %}
      {% for output in error %}
        <p style="color: red;">{{output}}</p>
      {% endfor %}
  {% endfor %}
{% endif %}
{% for field in form %}
  {% if field.name != "submit" and field.name != "csrf_token" %}
    <p>{{field.label}}: {{field(class="post_field")}}</p>
  {% else %}
    <p>{{field}}</p>
  {% endif %}
{% endfor %}
</form>
</div>
{% endblock %}