<div>
    {% for post in posts  %}
        <div>
            <div>
                {% if post.author == "Patch" %}
                    <h2 style="color: red">{{ post.author }}</h2>
                {% elif post.author == "Blue" %}
                    <h2 style="color: blue">{{ post.author }}</h2>
                {% else %}
                    <h2 style="color: green">{{ post.author }}</h2>
                {% endif %}
            </div>
        </div>
        <div>
            <img style="height: 100px;" src="{{ post.image }}" />
            <p>{{ post.date }} - {{ post.caption }}</p>
            <p>{{ post.likes }} Likes</p>
        </div>
    {% endfor %}

</div>