<div>

    {% for post in posts %}
        <div>
            <div>
                {% if post.author.username == "Patchenator" %}
                    <span style="color: red;">{{ post.author.username }}</span>
                {% elif post.author.username == "Blueberry44" %}
                    <span style="color: blue;">{{ post.author.username }}</span>
                {% else %}
                    <span style="color: green;">{{ post.author.username }}</span>
                {% endif %}
            </div>
            <div>
                <img style="height: 100px;" src="{{ post.image }}"/>
                <p>{{ post.caption }}</p>
            </div>
        </div>
    {% endfor %}

</div>