{% extends "base.html" %} {% block title %} {% if username %}
<title>{{username}}'s Posts</title>
{% else %}
<title>All Posts</title>
{% endif %} {% endblock %} {% block content %}
<div class="feed-container">
  {% for post in posts %}
  <div class="post-container">
    <div class="post-box">
      <div class="post-author">
        {% if post.author.name == "Pip" %}
        <h2 style="color: red">{{ post.author.name }}</h2>
        {% elif post.author.name == "Loki" %}
        <h2 style="color: blue">{{ post.author.name }}</h2>
        {% else %}
        <h2 style="color: green">{{ post.author.name }}</h2>
        {% endif %}
      </div>
      <h3>{{ post.date }}</h3>
    </div>
    <div>
      <img class="post-image" src="{{ post.image_url }}" />
      <p class="post-text">{{ post.caption }}</p>
      <p class="post-text">{{ post.user_likes.__len__() }} Likes</p>
      <p><a href="/posts/{{post['id']}}/delete">Delete Post</a></p>
      <p><a href="/posts/{{post['id']}}/update">Update Post</a></p>
      {% if 1 in post.to_dict()["likes"] %}
      <p><a href="/posts/{{post['id']}}/like">Dislike</a></p>
      {% else %}
      <p><a href="/posts/{{post['id']}}/like">Like</a></p>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %} {% include "footer.html" %}
