{% extends "navbar.html" %}


{% block content %}
<div class="feed-container">

    {% for post in posts %}
        <div class="post-container">
            <div class="post-box">
                <div class="post-author">
                    {% if post.author == "Patch" %}
                        <h2 style="color: red;">{{ post.author }}</h2>
                    {% elif post.author == "Blue" %}
                        <h2 style="color: blue;">{{ post.author }}</h2>
                    {% else %}
                        <h2 style="color: green;">{{ post.author }}</h2>
                    {% endif %}
                </div>
                <h3>{{ post.date }}</h3>
            </div>
            <div>
                <img class="post-image" src="{{ post.image }}" />
                <p class="post-text">{{ post.caption }}</p>
                <p class="post-text">{{ post.likes }} Likes</p>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}