.footer {
    position: fixed;
    bottom: 0;
    height: 5vh; 
    width: 100%;  
    border-top: 1px solid black;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.text {
    color: black;
    font-family: Billabong;
    text-align: center;
    margin: 0 15px 0 15px;
}

.icons {
    margin: 7px 10px 0 10px;
    text-decoration: none;
}