{% extends "nav.html" %}


{% block potato %}
<div class="feed-container">
    {% if type == "post" %}
        <h2>Create a New Post</h2>
    {% else %}
        <h2>Update Post</h2>
    {% endif %}
    {% if errors != None %}
        {% for error in errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    {% endif %}
    {% if type == "post" %}
        <form action="/posts/new" method="POST">
    {% else %}
        <form action="/posts/update/{{ id }}" method="POST">
    {% endif %}
        {{ form.csrf_token }}
        <p>{{ form.caption.label}}: {{ form.caption }}</p>
        <p>{{ form.image.label}}: {{ form.image }}</p>
        <p>{{ form.author.label}}: {{ form.author }}</p>
        <p>{{ form.submit }}</p>
    </form>
</div>
{% endblock %}