{% extends "base.html" %}
   
   
{% block navbar %}
    <div class="splash-container">
        <div>
            <h1 class="splash-title">Patchstagram</h1>
            <img class="splash-logo" 
                src="https://res.cloudinary.com/app-academy4/image/upload/v1647291502/Patchstagram/patch_hd_riobbp.png" 
                alt="cat-logo" 
            />
            <p class="splash-detail">The cat with so much to talk about, he needs his own social media site!</p>   
        </div>
        <a
            href="/posts/all"
            class="button-link"
        >
            Enter
        </a>
    </div>
{% endblock %}