[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
wtforms = {extras = ["email"], version = "*"}
flask-wtf = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
faker = "*"
alembic = "*"
flask-migrate = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.9"
