<h2>Here are all of our dad jokes!</h2>

<div>
    {% for joke in jokes %}
        <p>ID: {{ joke.jokeid }}</p>
        <p>Joke: {{ joke.joke  }}</p>
        <p>Punchline: {{ joke.punchline }}</p>
        {% if joke.rating == "G"  %}
            <p style="color: green">Rating: {{ joke.rating }}</p>
        {% elif joke.rating == "PG"  %}
            <p style="color: yellow">Rating: {{ joke.rating }}</p>
        {% elif joke.rating == "R"  %}
            <p style="color: red">Rating: {{ joke.rating }}</p>
        {% else %}
            <p>Rating: {{ joke.rating }}</p>
        {% endif %}
        <p>------------------------------------</p>
    {% endfor %}
</div>