.form-page {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
}

.form-container {
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    box-shadow: 3px 3px 2px lightgray ;
    margin: 15px 0 15px 0;
    background-color: whitesmoke; 
}

.form-header {
    color: black;
    font-family: Billabong;
    font-size: 3em;
}

.form-input-box {
    margin-top: 10px;
}

.form-label {
    font-size: 1.17em;
    font-weight: bold;
    margin-right: 7px;
}

.button {
    color: black;
    font-family: Helvetica;
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
    height: 1.7em;
    width: 6em;
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.errors-info {
    color:red;
    font-weight: bold;
}