.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5vh;
    background-color: whitesmoke;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
    box-shadow: 0px 3px 2px lightgray ;
}

.nav-content-container {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.nav-logo-container {
    display:flex;
    flex-direction: row;
    align-items: center;
} 

.nav-logo {
    height: 40px;
    margin-right: 15px;
}

.nav-title {
    color:black;
    font-family: Billabong;
    font-size: 2em;
    margin-top: 30px;
    
}

.nav-icon {
    color: black;
    height: 30px;
    width: 30px;
    margin: auto 10px auto 10px;
}

.nav-search {
    display: flex;
    align-items: center;
}

.search-input {
    width: 200px;
    height: 30px;
    padding-left: 80px;
    box-sizing: border-box;
}

