<!doctype html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    {% if id %}
    <h1>Post {{id}}</h1>
    {% elif user %}
      <h1>{{user["name"]}}'s Posts</h1>
    {% else %}
    <h1>All posts!!!!</h1>
    {% endif %}
    {% for post in posts %}
    {% if not user or post["author"] == user["name"] %}
      <p>Author: {{post["author"]}}</p>
      <div><img src={{post["image"]}} style="height: 250px" /></div>
      <p>{{post["caption"]}}</p>
      <p>{{post["date"].strftime("%M-%d-%Y")}}</p>
      <p>Likes: {{post["likes"]}}</p>
    {% endif %}
    {% endfor %}
  </body>
</html>
