

{% extends "base.html" %}

{% block title %}<title>Feed</title>{% endblock %}

{% block content %}
<div class="feed-container">
    {% for post in posts  %}
        <div class="post-container">
            <div class="post-box">
                <div class="post-author">
                    {% if post["author"] == "Pip" %}
                        <h3 style="color: red">{{ post["author"] }}</h3>

                    {% elif post["author"] == "Loki" %}
                        <h3 style="color: blue">{{ post["author"] }}</h3>

                    {% elif post["author"] == "Luna" %}
                        <h3 style="color: green">{{ post["author"] }}</h3>

                    {% else %}
                        <h3>{{ post["author"] }}</h3>

                    {% endif %}
                </div>
                <h3>{{ post["date"] }}</h3>
            </div>
            <div>
                <img class="post-image" src="{{ post['image'] }}" />
                <p class="post-text">{{ post["caption"] }}</p>
                <p><a href="/posts/delete/{{ post['id'] }}">Delete Post</a></p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}