
<div>
    <p>Joke #: {{ joke.id }}</p>
    <p>Joke: {{ joke.joke_body }}</p>
    <p>Punchline: {{ joke.punchline }}</p>
    {% if joke.rating == "G" %}
        <p style="color: green">Rating: {{ joke.rating }}</p>
    {% elif joke.rating == "PG" %}
        <p style="color: orange">Rating: {{ joke.rating }}</p>
    {% elif joke.rating == "R" %}
        <p style="color: red">Rating: {{ joke.rating }}</p>
    {% else %}
        <p>Rating: {{ joke.rating }}</p>
    {% endif %}
    <p>Author: {{ joke.user.username }}</p>
    <p>Likes: {{ joke.joke_likes|length }}</p>
    <p>---------------------------------</p>
</div>
